<div class="wrapper">
  <h1>
    <span class="animation">
      名古屋工業大学<br />プログラミング部
    </span>
  </h1>
</div>

<style>
  .wrapper {
    display: block;
    width: 100%;
    position: relative;
  }
  h1 {
    text-align: center;
    font-weight: normal;
    min-height: calc(1.5em * 2);
  }
  .animation::after {
    content: "|";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
  }
</style>
<script>
  import "./main";
</script>
