---
import Accordion from "@features/ui/Accordion/Accordion.astro";
import Headline from "@features/ui/Headline/Headline.astro";

const title: string = "活動内容";
---

<div id={title} class="section">
  <Headline headline={title} iconName="Content" />
  <p>
    毎月第2水曜日の16:30から1時間ほどの部会を開きます。
    すべての部員は何らかのプロジェクトに参加し、部会でプロジェクトの進捗報告を行います。
    作りたいものがある方、大学生からプログラミングをしてみたい初心者の方も歓迎です。
  </p>
  <Accordion summary="プロジェクトとは">
    プロジェクトとは目標を達成するための計画のことです。
    例えば新しいサービスを作りたいとき、それを達成するために計画を立案し、チームを作って開発をします。
    プロジェクトの内容はすべて個人に委ねているため、自由な活動をすることが可能です。
    <Accordion summary="過去のプロジェクト">
      <ul>
        <li>大学祭スマホアプリの作成</li>
        <li>掲示板アプリケーションの作成</li>
        <li>Discord、Slackのボット作成</li>
        <li>ボイスチャットアプリの作成</li>
        <li>競技プログラミングの作成</li>
      </ul>
    </Accordion>
  </Accordion>
</div>
