---
import Accordion from "@features/ui/Accordion/Accordion.astro";
import Headline from "@features/ui/Headline/Headline.astro";
const title: string = "FAQ";
---

<div id={title} class="section">
  <Headline headline={title} iconName="Faq" />
  <Accordion summary="お問い合わせはどこからすればいいですか">
    <p>C0deにご連絡をするには次の 2 つの方法があります。</p>
    <ul>
      <li>
        <a href="https://twitter.com/c0demattari">
          Twitterのダイレクトメッセージ</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfUJ70kJR6MNn3vzAtkD77_s7GJBkN2ySKluGmOjQklBAZSFg/viewform"
        >
          お問い合わせ用フォーム
        </a>
      </li>
    </ul>
    <p>どちらかにご連絡ください。</p>
  </Accordion>
  <Accordion summary="普段どこで活動しますか">
    <p>
      活動場所は55号館2階にある部室、もしくはDiscordやSlackのような連絡ツールを通して活動します。
      月1回の部会は52号館の講義室で行います。
    </p>
  </Accordion>
  <Accordion summary="入部したいです。何か必要なものはありますか">
    <p>必要なものは次の2つです。</p>
    <ul>
      <li>入部費用：年1000円</li>
      <li>パソコン</li>
    </ul>
    <p>入部費用は本の購入に使用したり、部室の備品に使用します。</p>
  </Accordion>
  <Accordion
    summary="2年生でも入部可能ですか。また、経験はないのですがそれでも活動についていけますか"
  >
    <p>C0deでは2年生、3年生の入部も歓迎しています。</p>
    <p>
      そして活動についていけるかとのご質問ですが、プログラミングに関してはご自身がどれだけ努力するかだと思います。
      個人的な意見を述べますが、プログラミングというのは初めほど謎で悩まされるものだと思います。
      C0deにはプログラミングに向かい合ってきた人が多いです。
      そのためよくわからないところを相談して解決したり、同じ志をもった仲間を作るということが可能です。
    </p>
    <p>上級生は新入部員を精一杯サポートします。</p>
  </Accordion>
  <Accordion summary="1週間に何時間くらい活動しますか">
    <p>
      参加しているプロジェクトごとに異なります。毎週のように活動しているプロジェクトもあれば、時間があるときに活動するプロジェクトもあります。
      基本的に活動はそれぞれのプロジェクトに任せているので部員は自由に活動しています。
    </p>
  </Accordion>
  <Accordion summary="4年生は入部できますか">
    <p>
      C0deに興味を持っていただきありがとうございます。
      申し訳ありませんが4年生以上の入部はお断りしています。C0deは学部1年生と
      2年生、3年生で構成されており、3年生は12月をもって引退します。
      そのため4年生以上の入部を受け付けておりません。 申し訳ございません。
    </p>
  </Accordion>
  <Accordion summary="運動部とも併部できますか">
    <p>
      可能です。C0deでは部員は何かプロジェクトに所属しており、活動はプロジェクトに任せています。
      プロジェクトごとに活動方針を相談することで、ご自身の環境に合わせた活動をすることが可能です。
    </p>
  </Accordion>
</div>
