---
import Headline from "@features/ui/Headline/Headline.astro";
const title: string = "お問い合わせ";
---

<div id={title} class="section">
  <Headline headline={title} iconName="Mail" />
  <p>ご質問がある方、入部希望の方は以下のフォームよりご連絡ください。</p>
</div>
