---
import Headline from "@features/ui/Headline/Headline.astro";
const title: string = "お問い合わせ";
---

<div id={title} class="section">
  <Headline headline={title} iconName="Mail" />
  <p>ご質問がある方、入部希望の方は以下のフォームよりご連絡ください。</p>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSexNf8zlVEJRtyHugp5J44E83Dn-swsmbIac2XOWlnYmu_XmQ/viewform"
  >
    Google Form
  </a>
</div>
