---
type Props = {
  summary: string;
  children: any;
};
const { summary } = Astro.props;
---

<details>
  <summary>{summary}</summary>
  <div class="content">
    <div class="content__inner">
      <slot />
    </div>
  </div>
</details>

<style>
  details {
    border: 1px solid #e28235;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: 7px;
    box-shadow: 0px 4px 16px -8px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin: 0.5rem 0;
  }
  summary {
    font-size: 16px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2ch;
    gap: 1ch;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary::before {
    content: "▶";
    color: #e28235;
    display: inline-block;
    font-size: 0.5rem;
    -webkit-animation: 0.4s icon-closing-animation forwards;
    animation: 0.4s icon-closing-animation forwards;
  }

  @-webkit-keyframes icon-closing-animation {
    from {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    to {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @keyframes icon-closing-animation {
    from {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    to {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @-webkit-keyframes icon-opening-animation {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  @keyframes icon-opening-animation {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  details[open] > summary::before {
    -webkit-animation: 0.4s icon-opening-animation forwards;
    animation: 0.4s icon-opening-animation forwards;
  }

  summary,
  .content__inner {
    padding: 8px 16px;
  }

  details[open] > summary {
    background-color: #e5e5e5;
    -webkit-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
  }

  details > .content {
    font-size: 0.8rem;
  }
</style>
