---
import Headline from "@features/ui/Headline/Headline.astro";
---

<div id="C0deについて" class="section">
  <Headline iconName="About" headline="C0deについて" />
  <p>
    私たちC0de部はプログラミングを中心に工学部として必要なスキルを身に着けてゆくことを目的の中心に活動しています。
    スマホアプリ開発やウェブアプリ開発を中心に、プログラミングに関係したことを行っています。
    開発を通じて学んだことや困ったことを部内に共有することで、部員同士で切磋琢磨に成長できることが魅力の1つです。
  </p>
</div>
