---
import Headline from "@features/ui/Headline/Headline.astro";
---

<div id="C0deについて" class="section">
  <Headline iconName="About" headline="C0deについて" />
  <p>
    私たちC0de部はプログラミングを中心に工学部として必要なスキルを身に着けてゆくことを目的の中心に活動しています。
    スマホアプリ開発、ウェブアプリ開発などを筆頭にそれぞれが得意な分野の知識・ノウハウを生かした活動を行っています。
  </p>
</div>
