---
import AboutC0de from "@features/AboutC0de/AboutC0de.astro";
import Access from "@features/Access/Access.astro";
import Contact from "@features/Contact/Contact.astro";
import Content from "@features/Content/Content.astro";
import FAQ from "@features/FAQ/FAQ.astro";
import TitleAnimation from "@features/TitleAnimation/TitleAnimation.astro";
import Twitter from "@features/Twitter/Twitter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <TitleAnimation />
    <img
      src="/src/assets/C0de-icon.svg"
      alt="C0deのアイコン"
      width="300px"
      height="300px"
    />
    <AboutC0de />
    <Content />
    <FAQ />
    <Access />
    <Twitter />
    <Contact />
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 96px auto;
    padding: 0 16px 20vh;
    max-width: 800px;
  }
</style>
