---
import C0de from "./C0de.astro";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <a href="#top">
    <C0de />
  </a>
  <Hamburger />
  <Navigation />
</header>
