---
---

<nav>
  <ul>
    <li>
      <a href="#about">C0deについて</a>
    </li>
    <li>
      <a href="#general">部活動概要</a>
    </li>
    <li>
      <a href="student">学生向け</a>
    </li>
    <li>
      <a href="access">アクセス</a>
    </li>
    <li>
      <a href="#contact">お問い合わせ</a>
    </li>
  </ul>
</nav>
