<footer>
  <div>
    <ul role="list">
      <li>
        <a href="https://twitter.com/c0demattari">
          <img
            src="src/assets/Twitter.svg"
            alt="Twitter icon"
            width="20px"
            height="auto"
          />
          Twitter</a
        >
      </li>
      <li>
        <a href="https://github.com/c0demattari">
          <img
            src="src/assets/Github-mark.svg"
            alt="Github icon"
            width="16px"
            height="auto"
          />
          Github
        </a>
      </li>
      <li>
        <a href="https://www.nitech.ac.jp/">名古屋工業大学</a>
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
    background-color: #e28235;
    color: #e5e5e5;
    padding: 16px 32px 48px;
    font-size: 0.8rem;
  }
  img {
    display: inline;
  }
  div {
    margin: 0 auto;
    max-width: 800px;
  }
  ul {
    padding: 0;
  }
  footer li {
    display: inline-block;
    padding-right: 3ch;
  }
</style>
