---
---

<footer>
  <ul role="list">
    <li>
      <a>C0de公式Twitter</a>
    </li>
    <li>
      <a>Github</a>
    </li>
    <li>
      <a>名古屋工業大学</a>
    </li>
    <li>
      <a> 情報基盤センター</a>
    </li>
  </ul>
</footer>

<style>
  footer {
    background-color: #e28235;
    color: #e5e5e5;
    padding: 16px 32px 48px;
    font-size: 0.8rem;
  }
  ul {
    padding: 0;
  }
  footer li {
    display: inline-block;
    padding-left: 3ch;
  }
</style>
